@import '../../Styles/variables';

.hero-container {
    display: flex;
    flex-direction: column;
    height: auto;
    width: 100%;
    background-color: var(--primary-color);
    justify-content: center;
    align-items: center;
    padding-bottom: 48px;

    @media (min-width: map-get($breakpoints, phone)) {
        flex-direction: row;
        height: 65vh;
    }

    .hero-image-container {
        width: 100%;
        display: flex;
        margin-top: 48px;

        @media (min-width: map-get($breakpoints, phone)) {
            width: 50%;
        }

        .hero-image {
            width: 55vw;
            margin: auto;
            border-radius: 5px;
            border-top-right-radius: 100px;
            transform: translatey(0px);
            animation: float 4s ease-in-out infinite;

            @media (min-width: map-get($breakpoints, phone)) {
                width: 35vh;
                margin-top: 0;
            }

            @media (min-width: map-get($breakpoints, tablet)) {
                width: 45vh;
            }

            @media (min-width: map-get($breakpoints, desktop)) {
                width: 50vh;
            }
        }

        @keyframes float {
            0% {
                box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6);
                transform: translatey(0px);
            }
            50% {
                box-shadow: 0 25px 15px 0px rgba(0, 0, 0, 0.2);
                transform: translatey(-20px);
            }
            100% {
                box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6);
                transform: translatey(0px);
            }
        }
    }

    .hero-description-container {
        width: 70%;
        margin: auto;
        text-align: center;

        @media (min-width: map-get($breakpoints, phone)) {
            width: 40%;
            text-align: start;
        }

        h1 {
            color: white;
            margin-bottom: 24px;
            line-height: 44px;
            letter-spacing: 2px;
        }

        h2 {
            color: white;
            font-size: 1.25rem;
            font-family: system-ui;
            font-weight: 400;
            margin-bottom: 32px;
        }

        .hero-section-link {
            position: relative;
            margin: auto;
            width: 165px;
            height: 40px;
            line-height: 40px;
            border: none;
            border-radius: 24px;
            background: var(--secondary-color);
            color: var(--text-color);
            font-family: var(--secondary-font);
            font-weight: 800;
            text-align: center;
            box-shadow: 5px 5px var(--highlight-color);
            cursor: pointer;

            @media (min-width: map-get($breakpoints, phone)) {
                margin-left: 0;
            }
        }

        .hero-section-link__shutter-out-horizontal {
            z-index: 1;

            &::before {
                content: '';
                position: absolute;
                z-index: -1;
                top: 0;
                bottom: 0;
                left: 0;
                right: 0;
                transform: scaleX(0);
                transform-origin: 50%;
                background: var(--accent-color);
                border-radius: 24px;
                transition: transform 0.3s ease-out;
            }

            &:hover {
                &::before {
                    transform: scaleX(1);
                }
            }
        }
    }
}
