$breakpoints: (
    phone: 600px,
    tablet: 768px,
    desktop: 992px,
    largeDesktop: 1200px,
) !default;

.hero-container {
    display: flex;
    flex-direction: column;
    height: auto;
    width: 100%;
    background-color: var(--primary-color);
    justify-content: center;
    align-items: center;
    padding-bottom: 3rem;

    @media (min-width: map-get($breakpoints, phone)) {
        flex-direction: row;
        height: 65vh;
    }

    .hero-image-container {
        width: 100%;
        display: flex;
        margin-top: 3rem;

        @media (min-width: map-get($breakpoints, phone)) {
          width: 50%;
    }

        .hero-image {
            width: 60vw;
            margin: auto;
            border-radius: 5px;
            border-top-right-radius: 100px;
            transform: translatey(0px);
            animation: float 4s ease-in-out infinite;

            @media (min-width: map-get($breakpoints, phone)) {
                width: 35vh;
                margin-top: 0;
            }

            @media (min-width: map-get($breakpoints, tablet)) {
                width: 45vh;
            }
        }

        @keyframes float {
            0% {
                box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6);
                transform: translatey(0px);
            }
            50% {
                box-shadow: 0 25px 15px 0px rgba(0, 0, 0, 0.2);
                transform: translatey(-20px);
            }
            100% {
                box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6);
                transform: translatey(0px);
            }
        }
    }

    .hero-description-container {
        width: 70%;
        margin: auto;
        text-align: center;

        @media (min-width: map-get($breakpoints, phone)) {
            width: 40%;
            text-align: start;
        }

        h1 {
            color: white;
            margin-bottom: 1.5rem;
            line-height: 2.75rem;
            letter-spacing: 2px;
        }

        h2 {
            color: white;
            font-size: 1.25rem;
            font-family: system-ui;
            font-weight: 400;
            margin-bottom: 2rem;
        }

        .hero-section-link {
            padding: 0.725rem 2.5rem;
            background-color: var(--secondary-color);
            color: var(--text-color);
            font-family: var(--secondary-font);
            font-weight: 800;
            border-radius: 24px;
            cursor: pointer;
        }
    }
}
