.info-section-container {
    height: 300px;
    margin: 5rem 0;
    display: flex;
    flex-direction: row;
    justify-content:center;
    align-items: center;

    .info-card {
        height: 100%;
        width: 25%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items:center;

        .info-image-container{
          height:40%;
     
          img{
            height:80%;
          }
        }

        h3{
          font-size: var(--font-size-small);
          font-family: var(--secondary-font);
          font-weight: 500;
          text-align: center;
          width:60%;
          
        }
    }
}
