.info-section-container {
    height: 300px;
    // background-color: beige;
    margin: 45px 0;
    display: flex;
    flex-direction: row;
    justify-content:center;
    align-items: center;

    .info-card {
        // background-color: bisque;
        height: 100%;
        width: 25%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items:center;

        .info-image-container{
          height:40%;
          margin-bottom:20px;

          img{
            height:80%;
          }
        }

        h3{
          font-size: 14px;
          font-family: system-ui;
          font-weight: 500;
          text-align: center;
          width:60%;
          line-height: 18px;
        }
    }
}
