.product-hightlight-container {
    height: 500px;
    width:100%;
    background-color: var(--secondary-color);
    display: flex;
    flex-direction: row-reverse;
    margin-bottom: 6rem;

    .product-image-container {
        width: 50%;

        .product-image {
           height: 100%;
           width:auto;
        }
    }

    .product-description-container {
        width: 50%;
        margin-left: 3.75rem;
        display: flex;
        flex-direction: column;
        justify-content: center;

        .product-title {
            color: var(--title-color);
            width: 80%;
            font-size: var(--font-size-xlarge);
            margin-bottom: 2rem;
            letter-spacing: 1px;
        }

        .product-banner-link {
            background-color: transparent;
            width: 80px;
            font-family: var(--secondary-font);
            font-weight: 800;
            text-align: center;
            border: solid 2px var(--highlight-color);
            padding: 0.725rem 2.5rem;
            color: var(--text-color);
            border-radius: 24px;
            cursor: pointer;
        }
    }
}
