.user-passkey-container,
.loading {
    margin: 100px auto;
}

.loading {
    text-align: center;
    font-family: var(--secondary-font);
    font-size: var(--font-size-medium);
    color: var(--primary-color);
}
