@import '../../Styles/variables';

.cart-container {
    width: 95%;
    display: flex;
    flex-direction: column;
    margin: 80px auto 80px auto;

     @media (min-width: map-get($breakpoints, phone)) {
       width: 60%;
       max-width: 600px;
    }

    .continue-shopping {
        text-align: end;
        margin-bottom: 16px;
        text-decoration: underline;
    }

    Button{
      margin-top:20px;
      align-self: end;
    }
}
