.button-container {
    display: flex;
    height: 40px;
    width: 180px;
    font-size: var(--font-size-medium);
    background-color: white;
    font-weight:bolder;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border: none;
    border-radius: 24px;

    &.inverted-button {
        
        color: var(--text-secondary-color);
        border: solid 2px var(--highlight-color);
        width: 180px;

        &:hover {
            border: none;
            background-color:rgb(99, 99, 99);
            color: white;
        }
    }

    &.google-button {
        background-color: #ededed;
        color: #4285f4;

        &:hover {
            background-color: none;
            color: #357ff6;
        }
    }

    &.default-button {
        background-color: var(--primary-color);
        color: rgb(255, 255, 255);

        &:hover {
            background-color: var(--highlight-color);
            color: white;
        }
    }
}
