@import '../../Styles/variables';

.product-detail-container {
    margin: 60px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;

    @media (min-width: map-get($breakpoints, phone)) {
        margin: 5rem auto;
        display: flex;
        flex-direction: row;
        align-items: start;
        width: 80%;
    }

    .product-detail-image-container {
        width: 80%;

        @media (min-width: map-get($breakpoints, phone)) {
         width: 50%;
    }

        .product-detail-image {
            width: 90%;
            margin-top: 2rem;
        }
    }

    .product-detail-info {
        width: 90%;

        @media (min-width: map-get($breakpoints, phone)) {
        margin-left: 20px;
        width: 50%;
        margin-top: 1rem;
    }

        .product-name {
            font-size: var(--font-size-xlarge);
            margin-bottom: 20px;
        }

        .product-price {
            font-size: var(--font-size-large);
            font-family: var(--secondary-font);
            margin-bottom: 10px;
        }

        .add-to-cart-container {
            display: flex;
            flex-direction: row;
            border-top: solid 0.5px darkgrey;
            padding-top: 20px;
            justify-content: start;
            align-items: center;

            .quantity-icon-container {
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;

                .checkout-table-icon {
                    margin: 0 10px;
                }

                .product-quantity {
                    border: solid 1.2px rgb(126, 126, 126);
                    border-radius: 5px;
                    padding: 3px 15px 3px 15px;
                }
            }
        }

        .product-description-container {
            margin-top: 30px;
            font-family: var(--secondary-font);
            line-height: 20px;

            .product-description {
                margin-top: 20px;
            }

            .size-list {
                padding: 0;
                list-style-type: none;
                font-size: 13px;

                .size {
                    font-size: 13px;
                    line-height: 20px;
                }
            }
        }
    }
}
