.product-detail-container {
    margin: auto;
    margin-top: 80px;
    display: flex;
    flex-direction: row;
    width: 80%;

    .product-detail-image-container {
        width: 50%;

        .product-detail-image {
            width: 90%;
        }
    }

    .product-detail-info {
        margin-left: 20px;
        width:50%;

        .product-name {
            font-size: 38px;
            margin-bottom: 20px;
        }

        .product-price {
            font-size: 28px;
            font-family: ubuntu;
            margin-bottom: 10px;
        }

        .add-to-cart-container {
            display: flex;
            flex-direction: row;
            border-top: solid 0.5px darkgrey;
            padding-top: 20px;
            justify-content: start;
            align-items: center;

            .quantity-icon-container {
                display: flex;
                flex-direction: row;
                justify-content:center;
                align-items: center;

                .checkout-table-icon {
                    margin: 0 10px;

                }

                .product-quantity {
                    border: solid 1.2px rgb(126, 126, 126);
                    border-radius: 5px;
                    padding: 3px 15px 3px 15px;
                }
            }
        }

        .product-description-container{
          margin-top: 30px;
          font-family: system-ui;
          font-size: 14px;
          line-height: 20px;
        }
    }
}
