.categories-page-container {
   margin-top: 7rem;

    .category-title-container {
        position: relative;
       
        .category-title {
            display: flex;
            justify-content: center;
            font-size: var(--font-size-large);
            font-weight:600;
            letter-spacing: 3px;
            margin: 40px 0 0 10px;
        }

        .view-more {
            position: absolute;
            right: 20px;
            bottom: 4px;
            text-decoration: underline;
            font-family: system-ui;
            font-size: var(--font-size-small);
            color: rgb(92, 92, 92);
        }
    }
}

.toys-card-container {
    display: grid;
    margin: 20px 16px 50px 16px;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 20px;
    row-gap: 50px;
}
