@import '../../Styles/variables';

.categories-page-container {
    margin: 120px auto;
    max-width: max-content;

    .category-title-container {
        position: relative;

        .category-title {
            display: flex;
            justify-content: start;
            font-size: var(--font-size-large);
            font-weight: 600;
            letter-spacing: 3px;
            margin: 40px 0 0 10px;

            @media (min-width: 400px) {
                justify-content: center;
            }
        }

        .view-more {
            position: absolute;
            right: 20px;
            bottom: 4px;
            text-decoration: underline;
            font-family: system-ui;
            font-size: var(--font-size-small);
            color: rgb(92, 92, 92);
        }
    }
}

.toys-card-container {
    display: grid;
    margin: 20px 8px 50px 8px;
    grid-template-columns: repeat(2, 1fr);

    @media (max-width: 599px) {
        & > :nth-child(3n) {
            display: none;
        }
    }

    @media (min-width: map-get($breakpoints, phone)) {
        margin: 20px 16px 50px 16px;
        grid-template-columns: repeat(3, 1fr);
    }
    column-gap: 20px;
    row-gap: 50px;
}
