.sign-in-container {
    display: flex;
    flex-direction: column;
    min-width: 300px;
    max-width: 400px;
    background-color: var(--background-grey);
    padding: 20px;
    border-radius: 10px;

    .signin-error-message {
        margin-top: 20px;
        background-color: rgba(255, 0, 0, 0.224);
        color: rgb(39, 39, 39);
        font-size: var(--font-size-small);
        font-family: system-ui;
        padding: 10px;
    }

    h2 {
        margin: 20px 0;
        color: var(--text-color);
        font-size: var(--font-size-large);
    }

    p {
        font-size: large;
        color: var(--text-color);
    }

    .buttons-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 14px;
    }
}
