.stripe-form-container {
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 200px;

    h2 {
        margin-bottom: 20px;
    }

    .stripe-form {
        height: 100px;
        min-width: 500px;

        .stripe-card {
            display: grid;
            grid-auto-columns: auto;
            margin-bottom: 30px;
        }

        Button {
            margin: auto
        }
    }
}
