.stripe-form-container {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;

    h2 {
        margin-bottom: 20px;
    }

    .stripe-form {
        height: 100px;
        width:100%;
        

        .stripe-inputs-container {
            border-radius: 15px;
            box-shadow: 5px 5px 30px opacify($color: #e4e4e4, $amount: 0);
            padding:20px;
        }

        .stripe-card {
            display: grid;
            grid-auto-columns: auto;
            margin-bottom: 30px;
        }

        Button {
            margin: auto;
        }
    }
}
