.product-card-container {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    height: 21rem;
    align-items: center;
    z-index: 10;
    background-color: var(--background-grey);
    border-radius: 5px;

    img {
        width: 100%;
        height: 80%;
        object-fit: cover;
        margin-bottom: 5px;
        z-index: 0;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
        cursor: pointer;


        &:hover {
            opacity: 0.85;
        }
    }

    .product-info {
        display: flex;
        width: 100%;
        height: 5%;
        justify-content: space-between;
        align-items: center;
        font-size: 1.125rem;
        margin-top: 20px;
        margin-left:20px;
        

        .name-price-container {
            display: flex;
            flex-direction: column;
            
            .price{
              font-family: var(--secondary-font);
              font-size: var(--font-size-medium);
              margin-top:5px;
            }
        }

        .add-to-cart-icon-container {
            border-radius: 10px;
            background-color: var(--highlight-color);
            padding: 4px 5px 5px;
            color: white;
            display: flex;
            align-items: center;
            justify-content: center;
            margin-right:20px;
            cursor: pointer;

            &:hover {
            background-color: rgb(255, 240, 223);
            color: rgb(33, 33, 33);
        }
        }
    }
}
