.cart-table-container {
    border-radius: 15px;
    box-shadow: 5px 5px 30px opacify($color: #e4e4e4, $amount: 0);
    padding: 20px;
}

table {
    width: 100%;
    border-radius: 10px;
    border-collapse: collapse;

    thead tr {
        font-size: 14px;
        height: 40px;
        font-family: roboto;

        th.subtotal {
            width: 10%;
            text-align: end;
        }

        th.qty {
            width: 15%;
        }
    }

    thead th {
        border-bottom: solid 0.6px rgb(223, 223, 223);
    }

    .cart-empty {
        text-align: center;
        height: 80px;
    }

    tfoot {
        text-align: end;
        font-size: 18px;

        .foot-row {
            font-family: roboto;
            font-size: 14px;
            font-weight: 500;
            height: 35px;
        }

        .total-price {
            font-size: 16px;
            height: 50px;
        }

        td {
            text-align: end;
        }
    }

    tfoot tr .shipping {
        border-bottom: solid 1px rgb(238, 238, 238);
    }

    .discount-row {
        color: var(--text-alert-color);
    }
}
