.checkout-table {
    width: 100%;
    padding: 20px 20px;
    border-radius: 20px;
    box-shadow: 5px 5px 30px opacify($color: #e4e4e4, $amount: 0);

    .table-header {
        font-size: 16px;
        height: 60px;

        .item {
            width: 20%;
        }

        .name {
            width: 25%;
        }

        .subtotal {
            width: 20%;
        }
    }

    .cart-empty {
        text-align: center;
        height: 80px;
    }

    tfoot {
        text-align: end;
        font-size: 24px;
        height: 80px;

        td {
            text-align: center;
        }
    }
}
