@import '../../Styles/variables';

tbody tr {
    height: 100px;

    .item-image {
        height: 70px;
        width: 70px;
        border-radius: 45px;

    }

    td {
        font-family: roboto;
        font-size: var(--font-size-medium);
        font-weight: 400;
        text-align: center;
        border-bottom: solid 0.6px rgb(223, 223, 223);
    }

    .item-qty {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
        align-items: center;
        justify-content: center;

        @media (min-width: map-get($breakpoints, phone)) {
            flex-direction: row;
            flex-wrap: nowrap;
            gap: 0;
        }
    }

    .remove-button {
        cursor: pointer;
    }

    .checkout-table-icon {
        cursor: pointer;
    }

    .subtotal {
        text-align: end;
    }
}
