table {
    width: 100%;
    padding: 20px 20px;
    border-radius: 20px;
    box-shadow: 5px 5px 30px opacify($color: #e4e4e4, $amount: 0);

    thead tr {
        font-size: 14px;
        height: 60px;
        font-family: roboto;

        th.subtotal {
            width: 15%;
            text-align: end;
        }
    }

    .cart-empty {
        text-align: center;
        height: 80px;
    }

    tfoot {
        text-align: end;
        font-size: 18px;

        .table-divider td {
            border-top: 1px solid rgb(240, 240, 240);
            height: 20px;
        }

        .subtotal-and-shipping {
            font-family: roboto;
            font-size: 14px;
            font-weight: 500;
        }

        td {
            text-align: end;
        }

        .check-out-button th {
            padding-top: 48px;
            position: relative; 

            Button {
                position: absolute; // Absolute positioning for the button container
                bottom: 0; // Align to the bottom of the parent <tr>
                right: 0; // Align to the right of the parent <tr>
                
            }
        }
    }
}
