.cart-icon-container {
    display: flex;
    align-items: center;
    margin: 0 10px 0 5px;
    cursor: pointer;

    .cart-icon {
        width: 18px;
        height: 18px;
        margin-bottom: 2px;
        color: var(--text-color);
    }

    p {
        font-size: var(--font-size-medium);
        font-weight: bold;
        color: var(--text-color);
        margin-left: 5px;
    }
}
