@import '../../Styles/variables';

.navigation {
    position: fixed;
    top: 0;
    height: 80px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--background-color);
    padding-top: 10px;
    box-shadow: 0 1px 10px #5555551f;
    z-index: 1000;

    .logo-container {
        height: 100%;
        margin-left: 50px;

        .logo {
            width: 80px;
        }
    }

    .nav-links-container {
        width: 500px;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: end;
        margin-right: 40px;
        color: var(--text-color);

        .nav-link {
            font-size: 1.125rem;
        }

        .current-user-container {
            display: flex;
            align-items: center;
            margin-left: 25px;
            gap: 20px;

            .username {
                display: flex;
                align-items: baseline;
                gap: 5px;
            }
        }

        Button {
            width: 80px;
            font-size: var(--font-size-small);
            cursor: pointer;
        }

        .sign-in-link {
            font-size: var(--font-size-medium);
            font-weight: 600;
            color: var(--primary-color);
        }
    }
}

.simple-nav-container {
    width: 200px;
    height: 100%;
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: end;
    margin-right: 40px;
    color: var(--text-color);

    .nav-link {
        font-size: 1.125rem;
    }

    .user-profile {
        position: absolute;
        top: 80px;
        right: 30px;
        width: 80px;
        display: flex;
        flex-direction: column;
        padding: 16px;
        border: 1px solid #c7ac9d;
        background-color: var(--background-color);
        cursor: pointer;
        z-index: 100;
    }
}
