.navigation {
    position: fixed;
    top: 0;
    height: 80px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fdfdfd;
    padding-top: 10px;
    box-shadow: 0 5px 10px #e8e8e854;
    z-index: 1000;

    .logo-container {
        height: 100%;
        margin-left: 50px;

        .logo {
            width: 80px;
        }
    }

    .nav-links-container {
        width: 500px;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: end;
        margin-right: 40px;

        .current-user-container{
          display:flex;
          align-items: center;
          margin-left:25px;
          gap:20px;

          .username{
            display:flex;
            align-items: baseline;
            gap:5px;
            color:#444444fc;
           
          }
        }

        Button {
            width: 80px;
            font-size: 14px;
            cursor: pointer;
        }
    }
}
