.navigation {
    position: fixed;
    top:0;
    height: 80px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 16px;
    align-items: center;
    background-color: #fdfdfd;
    padding-top: 10px;
    box-shadow: 0 5px 10px #e8e8e854;
    z-index:1000;

    .logo-container {
        height: 100%;
        margin-left: 50px;

        .logo {
            width: 80px;
        }
    }

    .nav-links-container {
        width: 30%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: space-around;
        margin-right: 40px;

        Button {
            width: 100px;
            cursor: pointer;
        }
    }
}
