.breadcrumbs-container {
    background-color: var(--background-grey);
    display: flex;
    align-items: center;
    width: 100%;
    padding: 10px 0 10px 24px;
    font-family: var(--secondary-font);
    font-weight: 300;
    color: black;
    position:fixed;
    top:90px;
    z-index: 0;

    .home-slash {
        margin-left: 5px;
    }

    .crumb {
        margin-left: 5px;
    }

    .crumb-link {
        text-decoration: underline;
    }

    .last-crumb {
        font-size: var(--font-size-small);
        font-weight: 300;
        color: rgb(49, 49, 49);
    }
}
