body {
    margin: 0;
    padding-top:96px;
    font-family: 'Chau Philomene One', 'Poppins', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
        monospace;
}

a {
    text-decoration: none;
    color: rgb(47, 47, 47);
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
p {
    margin-top: 0;
    margin-bottom: 0;
    color: rgb(47, 47, 47);
}
