@import '../../Styles/variables';

.categories-section-container {
    margin: 0 8px 80px 8px;

    @media (min-width: map-get($breakpoints, phone)) {
        margin: 0 16px 80px 16px;
    }

    .categories-section-title {
        margin: 0 0 20px 10px;
        letter-spacing: 2px;
    }

    .listings-container {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
}
